@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
body{
    min-height: 100vh;
}
:root{
    --first-btn-color: #ff42a5;
    --second-btn-color: #4ec5f7;
    --second-section-color: #FFF9FC;
    --secondary-text-color: #534c64;
    --footer-color: #0B0223;
}
/* =================== NEBAR SECTION =================== */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    background-color: #ffffff;
    box-shadow: 0px, 10px, 30px, 0px rgb(0, 0, 0,0.8);
}
#logo{
    display: flex;
    align-items: center;
    gap: .8rem;
}
#logo img{
    max-width: 30%;
}
#logo-style{
    color: var(--first-btn-color);
}
#navbar ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
#navbar ul li a{
    color: var(--footer-color);
    font-size: 1.11em;
    font-weight: 600;
}
#social-icon{
    background-color: #e6e5e9;
    padding: .8rem 1rem;
    border-radius: .5rem;
}
#follow{
    color: var(--footer-color);
    font-size: 1.11em;
    font-weight: 600;
    margin-right: .6rem;
}
#social-icon a{
    margin-right: .6rem;
}
#social-icon a i:first-child{
    color: red;
}
#social-icon #tiktok i{
    color: black;
}
/* ==================== HEADER CONTENT SECTION======================= */
#header-left{
    max-width: 50%;
    max-height: auto;
    position: relative;
}
#header-left img{
    max-width: 100%;
}
#header-left-content{
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-45%, -40%);
}
#header-left-content h1{
    font-size: 4rem;
    font-weight: bolder;
    background-image: linear-gradient(rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#header-left-content ul{
    margin: 1rem 0 2rem 0;
}
#header-left-content ul li{
    padding: .5rem 0;
}
#header-left-content ul li i{
    font-size: .9rem;
    margin-right: .6rem;
    border-radius: 50%;
}
#vedio-play i{
    padding: .2rem ;
}
#first-btn{
    padding: .8rem 1.55rem;
    background-color: var(--first-btn-color);
    border: none;
    outline: none;
    border-radius: .8rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.11rem;
    margin-right: .8rem;
    cursor: pointer;
}
#btn{
    padding: .8rem 1.55rem;
    cursor: pointer;
    background-color: var(--second-btn-color);
    border: none;
    outline: none;
    border-radius: .8rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.11rem;
}
#header-content-container{
    position: relative;
}
#header-right{
    position: absolute;
    float: right;
    right: 10%;
    top: 0;
    max-width: 40%;
}
#header-right img{
    max-width: 100%;
}