@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
body{
    min-height: 100vh;
}
:root{
    --first-btn-color: #ff42a5;
    --second-btn-color: #4ec5f7;
    --second-section-color: #FFF9FC;
    --secondary-text-color: #534c64;
    --footer-color: #0B0223;
}

/* =================== NEBAR SECTION =================== */
#navber-section{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.184);
    max-width: 100vw;
}
#navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.55rem 9%;
    background-color: #fff;
}
#nav-logo{
    display: flex;
    align-items: center;
}
#nav-logo img{
    width: 65px;
}
#game{
    font-size: 1.88rem;
    font-weight: 700;
    margin-left: .8rem;
}
#game-style{
    color: var(--first-btn-color);
}
#nav-tabitems{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#nav-tabitems a{
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
}
#nav-follow{
    background-color: rgba(0, 0, 0, 0.087);
    padding: .8rem 1.89rem;
    border-radius: .5rem;
    display: inline-flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
}
#nav-follow span{
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
}
#youtube{
    color: red;
}
/* =================== HEADER MAIN SECTION================== */
#header-main-section{
    display: flex;
    /* justify-content: space-around; */
}
#header-left{
    /* display: block; */
    max-width: 45%;
    position: relative;
}
#header-left img{
    max-width: 100%;
}
#header-content{
    position: absolute;
    top: 20%;
    left: 20%;
}
#header-content h2{
    font-size: 2rem;
    font-weight: 600;
}
#header-content h1{
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.169);
    margin: .5rem 0;
}
#header-content p{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--secondary-text-color);
    padding: .7rem 0;
}
#header-content i{
    color: black;
    padding-right: .8rem;
}
#header-right{
    max-width: 40%;
    margin-left: 5rem;
}
#header-right img{
    max-width: 100%;
}
#btn-section{
    margin-top: 1.2rem;
}
#btn{
    padding: 1rem 2rem;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--first-btn-color);
    border-radius: 2rem;
}
#btn2{
    padding: 1rem 2rem;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--second-btn-color);
    border-radius: 2rem;
    margin-left: .8rem;
}
/* ========================= GAMER SECTION ========================== */
#gamer-section{
    background-color: var(--second-section-color);
    padding: 3rem 9%;
}